.home-posts .highlight-list {
    grid-template-columns: repeat(5, 1fr);
}

.home-posts .routine-list {
    grid-template-columns: repeat(4, 1fr);
}

.home-posts .post-list li:first-child {
    border-top: 1px solid #ccc;
}

.home-posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-posts > div {
    display: flex;
    gap: 1rem;
}

.home-posts > div > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-posts .home-posts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
}

.home-posts .home-posts-header button {
    font-size: 1rem;
    border: none;
    background: none;
    font-weight: 500;
    color: #777;
    cursor: pointer;
}
.home-posts .home-posts-header button:hover {
    color: #555;
    text-decoration: underline;
}

.home-posts section {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
}

.home-posts section .diary-list,
.home-posts section .routine-list,
.home-posts section .highlight-list,
.home-posts section .post-list {
    margin-top: 0;
    padding: 0 20px 22px;
    gap: 11px;
}

.home-posts section h3 {
    font-size: 1.5rem;
    color: #333;
}

.home-posts .no-diary,
.home-posts .no-post,
.home-posts .no-routine,
.home-posts .no-highlight {
    margin: 50px 0
}

@media (max-width: 768px) {
    .mobile-home-posts {
        gap: 16px;
        display: flex;
        flex-direction: column;
    }
    .mobile-home-posts section {
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #fff;
    }
    .mobile-home-posts .home-posts-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 8px;   
    }
    .mobile-home-posts section .home-posts-header h3 {
        font-size: 16px;
    }
    .mobile-home-posts .home-posts-header button {
        font-size: 12px;
        border: none;
        background: none;
        font-weight: 500;
        color: #777;
        cursor: pointer;
    }

    .mobile-home-posts section .diary-list,
    .mobile-home-posts section .routine-list,
    .mobile-home-posts section .highlight-list,
    .mobile-home-posts section .post-list {
        margin-top: 0 !important;
        padding: 0 10px 8px;
    }

    .mobile-home-posts .post-list li:first-child {
        border-top: 1px solid #ccc;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home-posts,
    .home-posts > div > div:first-child {
        gap: 1rem;
    }
    .home-posts .home-posts-header {
        padding: 12px 16px;
    }
    .home-posts .highlight-list {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .home-posts section .diary-list,
    .home-posts section .routine-list,
    .home-posts section .highlight-list,
    .home-posts section .post-list {
        margin-top: 0 !important;
        padding: 0 16px 10px;
        gap: 10px;
    }
}