.routine-edit-container {
    position: absolute;
    background-color: white;
    width: 80%;
    height: 80%;
    max-width: 75rem;
    max-height: 800px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* ✅ 내부 스크롤은 자식이 담당 */
}

/* header */
.routine-edit-container .routine-edit-header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0; /* ✅ 고정 높이 */
}

.routine-edit-container h3 {
    font-size: 2rem;
    display: flex;
    align-items: baseline;
}

.routine-edit-container h3 span {
    font-size: 1.6rem;
}

.routine-edit-container .close-icon {
    font-size: 2rem;
    cursor: pointer;
}

/* main */
.routine-edit-container .routine-edit-main {
    display: flex;
    flex: 1; /* ✅ 남은 공간을 모두 차지 */
    overflow: hidden; /* ✅ 내부에서만 스크롤 */
}

.routine-edit-container .routine-info-step {
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    overflow-y: auto; /* ✅ 정보 입력 스텝에 스크롤 */
    scrollbar-width: thin;
    flex: 1;
}

.routine-edit-container .routine-name-section,
.routine-edit-container .routine-schedule-section {
    display: flex;
    flex-direction: column;
}

.routine-edit-container .routine-name-section label,
.routine-edit-container .routine-schedule-section label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.routine-edit-container .routine-name-section input {
    width: 90%;
    max-width: 1000px;
    font-size: 1.2rem;
    padding:  0.8rem 0.7rem;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: none;
}

.routine-edit-container .routine-info-step .schedule-table {
  border-collapse: collapse;
  width: 90%;
  max-width: 1000px;
}

.routine-edit-container .schedule-table th,
.routine-edit-container .schedule-table td {
  border: 1px solid #aaa;
  padding: 0 0;
  text-align: center;
  width: calc(100% / 7);
  height: 60px;
  padding: 0.4rem;
}

.routine-edit-container .schedule-table td input {
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.routine-edit-container .schedule-table th {
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #d9d9d9;
}

.routine-edit-container .routine-edit-main input:focus {
    border: 1px solid #4a86e8;
}

/* main2 */
.routine-edit-container .routine-block-step {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden; /* ✅ 내부에서만 스크롤 */
}

.routine-edit-container .routine-main-section {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* ✅ 내부 섹션에서 스크롤 제어 */
}

.routine-edit-container .day-selector {
    display: flex;
    padding: 0.8rem 1.2rem;
    gap: 0.5rem;
    height: 70px;
    flex-shrink: 0; /* ✅ 고정 */
    margin: 0.3rem 0 0.5rem;
}

.routine-edit-container .day-selector button {
    flex: 1;
    font-size: 1.1rem;
    padding: 0rem 0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #e0e0e0;
    color: black;
}
.routine-edit-container .day-selector button:hover {
    background-color: #d0d0d0;
}

.routine-edit-container .day-selector button.active {
    background-color: #D0E0FD;
    color: #4a86e8;
    border: 2px solid #aac3e8;
}

.routine-edit-container .day-routine-section {
    flex: 1;
    padding: 0 1.2rem 0.8rem;
    overflow-y: auto; /* ✅ 스크롤 작동 포인트 */
    scrollbar-width: thin;
}

.routine-edit-container .day-routine-section h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.routine-edit-container .day-routine-section  .placeholder {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 75px;
}

.routine-edit-container .routine-block-item {
    border: 1px solid #aaa;
    border-radius: 6px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.routine-edit-container .routine-block-item .title {
    font-size: 1.4rem;
    padding: 1rem;
    flex: 1;
    text-align: center;
}

.routine-edit-container .routine-block-item .remove-btn {
    background: none;
    border: none;
    font-size: 1.3rem;
    color: #666;
    cursor: pointer;
    margin: 0 1rem;
}

.routine-edit-container .routine-block-item .remove-btn:hover {
    color: #444;
}

.routine-edit-container .routine-side-header {
    display: flex;
    flex-direction: column;
}

.routine-edit-container .routine-side-panel {
    width: 20%;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* ✅ 내부 스크롤 방지 */
}

.routine-edit-container .panel-header {
    padding: 0.8rem 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    flex-shrink: 0; /* ✅ 고정 */
}

.routine-edit-container .panel-header a:hover {
    text-decoration: underline;
}

.routine-edit-container .block-filter {
    flex-shrink: 0; /* ✅ 고정 */
}

.routine-edit-container .block-card-list {
    padding: 0.5rem;
    overflow-y: auto; /* ✅ 블럭 목록 스크롤 */
    scrollbar-width: thin;
    flex: 1;
}

.routine-edit-container .dropdown-header {
    padding: 0.6rem 1rem;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}

.routine-edit-container .dropdown-item {
    padding: 0.5rem 0.7rem;
}

.routine-edit-container .block-card {
    border: 1px solid #ccc;
    padding: 0.5rem 0.7rem;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: #f5f5f5;
    font-size: 0.95rem;
}

.routine-edit-container .block-card:hover {
    background-color: #E8F0FE;
    border: 1px solid #aac3e8;
}


/* main 3 */
.routine-edit-container .routine-memo-step {
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.routine-edit-container  label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.routine-edit-container textarea {
    width: 90%;
    max-width: 900px;
    font-size: 1.2rem;
    min-height: 250px;
    height: 100%;
    padding:  0.7rem;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: none;
    resize: none;
}

/* footer */
.routine-edit-container .routine-edit-footer {
    padding: 0.7rem 1.2rem;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: end;
    flex-shrink: 0; /* ✅ 고정 */
}

.routine-edit-container .routine-edit-footer.step-second,
.routine-edit-container .routine-edit-footer.step-third {
    justify-content: space-between;
}

.routine-edit-container .routine-edit-footer button {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.routine-edit-container .routine-edit-footer button:hover {
    background-color: #d0d0d0;
}

@media (max-width: 768px) {
    .routine-edit-container {
        height: 90vh;
        width: 90vw;
        min-width: 300px;
        max-height: none;
        border-radius: 4px;
    }
    .routine-edit-container .routine-edit-header {
        padding: 6px 12px;
    }
    .routine-edit-container h3 {
        font-size: 20px;
    }
    .routine-edit-container h3 span {
        font-size: 16px;
    }
    .routine-edit-container .close-icon {
        font-size: 20px;
    }
    .routine-edit-container .routine-info-step {
        padding: 8px;
        gap: 1rem;
    }
    .routine-edit-container .routine-name-section label,
    .routine-edit-container .routine-schedule-section label {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .routine-edit-container .routine-name-section input {
        width: 100%;
        font-size: 14px;
        padding: 8px 6px;
        border-radius: 4px;
    }
    .routine-edit-container .routine-info-step .schedule-table {
        width: 100%;
    }
    .routine-edit-container .schedule-table th,
    .routine-edit-container .schedule-table td {
        padding: 4px;
        height: 35px;
    }
    .routine-edit-container .schedule-table td {
        padding: 2px;
    }
    .routine-edit-container .schedule-table th {
        font-size: 14px;
    }
    .routine-edit-container .schedule-table td input {
        font-size: 12px;
        padding: 4px;
        border-radius: 2px;
    }
    .routine-edit-container .routine-block-step {
        flex-direction: column-reverse;
    }
    .routine-edit-container .routine-main-section {
        width: 100%;
        border-top: 1px solid #ddd;
    }
    .routine-edit-container .day-selector {
        padding: 4px 8px;
        gap: 4px;
        height: 40px;
        margin: 4px 0;
    }
    .routine-edit-container .day-selector button {
        font-size: 14px;
        border-radius: 3px;
    }
    .routine-edit-container .day-selector button.active {
        border-width: 1px;
    }
    .routine-edit-container .day-routine-section {
        padding: 0 8px 4px;
    }
    .routine-edit-container .routine-block-item {
        margin-bottom: 8px;
    }
    .routine-edit-container .routine-block-item .title {
        font-size: 14px;
        padding: 10px 8px;
    }
    .routine-edit-container .routine-block-item .remove-btn {
        font-size: 14px;
    }
    .routine-edit-container .routine-side-panel {
        width: 100%;
        overflow: visible;
        height: calc(100% / 3);
    }
    .routine-edit-container .routine-side-header {
        flex-direction: row;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }
    .routine-edit-container .panel-header {
        flex: 2;
        border: none;
        border-right: 1px solid #ddd;
        padding: 6px 10px;
        font-size: 14px;
    }
    .routine-edit-container .block-filter {
        flex: 1;
        font-size: 14px;
    }
    .routine-edit-container .dropdown-header {
        border: none !important;
        padding: 6px 10px;
    }
    .routine-edit-container .dropdown-item {
        padding: 6px 8px !important;
        font-size: 13px;
    }
    .routine-edit-container .block-card {
        font-size: 12px;
        padding: 7px 8px;
        border-radius: 4px;
        margin-bottom: 6px;
    }
    .routine-edit-container .routine-memo-step {
        padding: 8px;
    }
    .routine-edit-container  label {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .routine-edit-container textarea {
        width: 100%;
        font-size: 14px;
        padding: 6px;
        border-radius: 4px;
    }
    .routine-edit-container .routine-edit-footer {
        padding: 6px 12px;
    }
    .routine-edit-container .routine-edit-footer button {
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 3px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .routine-edit-container {
        height: 70vh;
        width: 90vw;
        min-width: 300px;
        max-height: none;
        border-radius: 4px;
    }
    .routine-edit-container .routine-edit-header {
        padding: 10px 16px;
    }
    .routine-edit-container h3 {
        font-size: 24px;
    }
    .routine-edit-container h3 span {
        font-size: 20px;
    }
    .routine-edit-container .close-icon {
        font-size: 24px;
    }
    .routine-edit-container .routine-info-step {
        padding: 16px;
        gap: 1.5rem;
    }
    .routine-edit-container .routine-name-section label,
    .routine-edit-container .routine-schedule-section label {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .routine-edit-container .routine-name-section input {
        width: 100%;
        font-size: 16px;
        padding: 12px 12px;
        border-radius: 4px;
    }
    .routine-edit-container .routine-info-step .schedule-table {
        width: 100%;
    }
    .routine-edit-container .schedule-table th,
    .routine-edit-container .schedule-table td {
        padding: 6px;
        height: 40px;
    }
    .routine-edit-container .schedule-table th {
        font-size: 16px;
    }
    .routine-edit-container .schedule-table td {
        padding: 4px;
    }
    .routine-edit-container .schedule-table td input {
        font-size: 16px;
        padding:  10px 6px;
        border-radius: 2px;
    }
    .routine-edit-container .routine-main-section {
        width: 70%;
    }
    .routine-edit-container .day-selector {
        padding: 10px 16px;
        gap: 4px;
        height: 60px;
        margin: 6px 0;
    }
    .routine-edit-container .day-selector button {
        font-size: 16px;
        border-radius: 4px;
    }
    .routine-edit-container .routine-side-panel {
        width: 30%;
    }
    .routine-edit-container .day-routine-section {
        padding: 0 16px 4px;
    }
    .routine-edit-container .routine-block-item {
        margin-bottom: 10px;
    }
    .routine-edit-container .routine-block-item .title {
        font-size: 16px;
        padding: 12px 10px;
    }
    .routine-edit-container .routine-block-item .remove-btn {
        font-size: 16px;
    }
    .routine-edit-container .panel-header {
        font-size: 16px;
        padding: 10px 14px;
    }
    .routine-edit-container .block-filter {
        font-size: 16px;
    }
    .routine-edit-container .dropdown-header {
        padding: 10px 14px;
    }
    .routine-edit-container .block-card {
        font-size: 14px;
        padding: 8px 10px;
        border-radius: 4px;
        margin-bottom: 6px;
    }
    .routine-edit-container .routine-memo-step {
        padding: 16px;
    }
    .routine-edit-container  label {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .routine-edit-container textarea {
        width: 100%;
        font-size: 16px;
        padding: 8px;
        border-radius: 4px;
    }
    .routine-edit-container .routine-edit-footer {
        padding: 10px 16px;
    }
    .routine-edit-container .routine-edit-footer button {
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 4px;
    }
}