.profile-posts {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}

.profile-posts .no-public {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 100px;
}

.profile-posts .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 0 0.5rem;
}

.profile-posts .menu-tabs {
    display: flex;
    gap: 1.2rem;
}

.profile-posts .menu-tabs button {
    font-size: 1.2rem;
    padding: 0 0.1rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #777;
}

.profile-posts .menu-tabs button:hover {
    color: #444;
}

.profile-posts .menu-tabs button.active {
    color: #333;
    font-weight: 500;
    border-bottom: 2px solid #4a86e8;
}

.profile-posts .sort {
    height: 44px;
}

.profile-posts .dropdown-header {
    height: 38px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 105px;
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
}

.profile-posts .dropdown-header .arrow {
    font-size: 0.8rem;
}

.profile-posts .diary-list,
.profile-posts .no-diary {
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
}

.profile-posts .my-diary {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .profile-posts {
        padding: 12px 0;
    }
    .profile-posts .header {
        padding: 0;
    }
    .profile-posts .menu-tabs {
        gap: 10px;
    }
    .profile-posts .menu-tabs button {
        font-size: 14px;
    }
    .profile-posts .dropdown-header {
        height: 30px;
        font-size: 13px;
        width: 65px;
        padding: 0 6px;
        border-radius: 3px;
    }
    .profile-posts .dropdown-header .arrow {
        font-size: 12px;
    }
    .profile-posts .sort {
        height: 32px;
    }
    .profile-posts .my-diary {
        flex-direction: column;
        gap: 4px;
    }
    .profile-posts .diary-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .profile-posts .no-public {
        font-size: 14px;
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .profile-posts .no-public {
        font-size: 16px;
        margin: 70px;
    }
    .profile-posts .menu-tabs button {
        font-size: 18px;
    }
    .profile-posts .dropdown-header {
        height: 38px;
        font-size: 16px;
        width: 100px;
        padding: 0 8px;
        border-radius: 3px;
    }
    .profile-posts .dropdown-header .arrow {
        font-size: 14px;
    }
    .profile-posts .sort {
        height: 40px;
    }
    .profile-posts .diary-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .profile-posts .highlight-list {
        grid-template-columns: repeat(6, 1fr) !important;
    }
}