.profile-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-header .profile {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.profile-header .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-header .profile .icon {
    font-size: 5rem;
}

.profile-header .profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
}

.profile-header .nickname {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.profile-header .admin-badge {
    color: #4a86e8;
}

.profile-header .follower {
    font-size: 18px;
}

.profile-header .description {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-header .see-more-btn {
    background: none;
    border: none;
    color: #4a86e8;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    transition: color 0.2s;
}
.profile-header .see-more-btn:hover {
    color: #3b6dc3;
}

.profile-header .follow-container {
    margin-top: 0.2rem;
    display: flex;
    gap: 0.5rem;
}

.profile-header .follow-btn,
.profile-header .edit-btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4a86e8;
    color: white;
    cursor: pointer;
}
.profile-header .follow-btn:hover {
    background-color: #3b6dc3;
}
.profile-header .edit-btn:hover {
    background-color: #d0d0d0;
}
.profile-header .follow-btn.cancel {
    background-color: #D32F2F;
}
.profile-header .follow-btn.cancel:hover {
    background-color: #B71C1C;
}

.profile-header .notify-btn {
    font-size: 1.2rem;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 0 0.5rem;
    cursor: pointer;
    line-height: 1;
}

.profile-header .notify-btn:hover {
    background-color: #d0d0d0;
}

.profile-header .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* more mode */
.profile-header .more-mode {
    height: 550px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.profile-header .more-mode .header {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.profile-header .more-mode .header button {
    font-size: 1.8rem;
    border: none;
    background: none;
    cursor: pointer;
}

.profile-header .more-mode .content {
    flex: 1;
    overflow-y: auto;
    padding: 0.7rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.profile-header .more-mode .content > div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.profile-header .more-mode .content label {
    font-size: 1.4rem;
    font-weight: 600;
}

.profile-header .more-mode .content .info {
    white-space: pre;
    text-wrap: wrap;
    font-size: 1rem;
    line-height: 1.6;
}

.profile-header .more-mode .content .extra-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.05rem;
}

.profile-header .more-mode .footer {
    border-top: 1px solid #ccc;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: flex-end;
}

.profile-header .more-mode .footer .report-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #D32F2F;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 0.9rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.profile-header .more-mode .footer .report-btn:hover {
  background: #B71C1C;
}

@media (max-width: 768px) {
    .profile-header {
        gap: 12px;
        align-items: flex-start;
    }
    .profile-header .mobile-profile-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .profile-header .mobile-profile {
        display: flex;
        gap: 10px;
    }
    .profile-header .profile-info {
        gap: 0;
        justify-content: space-around;
    }
    .profile-header .profile {
        width: 72px;
        height: 72px;
    }
    .profile-header .profile .icon {
        font-size: 36px;
    }
    .profile-header .nickname {
        font-size: 24px;
    }
    .profile-header .follower {
        font-size: 14px;
    }
    .profile-header .gear {
        border: none;
        background: none;
        font-size: 20px;
        color: #333;
        cursor: pointer;
    }
    .profile-header .dropdown-menu {
        position: absolute;
        top: 27px;
        right: -5px;
        background-color: white;
        border: 1px solid #dedede;
        border-radius: 6px;
        width: 130px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
    .profile-header .dropdown-menu ul {
        list-style: none;
        padding: 0.4rem 0;
        margin: 0;
    }
    .profile-header .dropdown-menu li {
        padding: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;
        color: #333;
    }
    .profile-header .dropdown-menu li span {
        font-size: 14px;
    }
    .profile-header .dropdown-menu li:hover {
        background-color: #dedede;
    }
    .profile-header .description {
        font-size: 13px;
    }
    .profile-header .see-more-btn {
        font-size: 12px;
        margin-left: 4px;
    }
    .profile-header .follow-container {
        margin-top: 0;
        gap: 6px;
    }
    .profile-header .follow-btn,
    .profile-header .edit-btn {
        font-size: 14px;
        padding: 6px 0;
        border-radius: 4px;
        flex: 1;
    }
    .profile-header .edit-btn {
        background-color: #e0e0e0;
        color: black;
    }
    .profile-header .notify-btn {
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 4px;
    }
    .profile-header .admin-badge {
        font-size: 20px;
        margin-left: 2px;
    }
    .profile-header .more-mode {
        height: 90vh;
        width: 90vw;
    }
    .profile-header .more-mode .header {
        padding: 6px 12px;
        font-size: 20px;
    }
    .profile-header .more-mode .header button {
        font-size: 20px;
    }
    .profile-header .more-mode .content {
        padding: 6px 12px;
        gap: 12px;
    }
    .profile-header .more-mode .content > div {
        gap: 4px;
    }
    .profile-header .more-mode .content label {
        font-size: 18px;
    }
    .profile-header .more-mode .content .info {
        font-size: 14px;
        line-height: 14px;
    }
    .profile-header .more-mode .content .extra-info {
        font-size: 14px;
        gap: 6px;
    }
    .profile-header .more-mode .footer {
        padding: 6px 12px;
    }
    .profile-header .more-mode .footer .report-btn {
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 3px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .profile-header {
        gap: 16px;
        align-items: flex-start;
    }
    .profile-header .profile {
        width: 130px;
        height: 130px;
    }
    .profile-header .profile .icon {
        font-size: 65px;
    }
    .profile-header .profile-info {
        gap: 8px;
    }
    .profile-header .nickname {
        font-size: 28px;
    }
    .profile-header .follower {
        font-size: 18px;
    }
    .profile-header .gear {
        border: none;
        background: none;
        font-size: 28px;
        color: #333;
        cursor: pointer;
    }
    .profile-header .dropdown-menu {
        position: absolute;
        top: 37px;
        right: 0px;
        background-color: white;
        border: 1px solid #dedede;
        border-radius: 6px;
        width: 160px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
    .profile-header .dropdown-menu ul {
        list-style: none;
        padding: 0.4rem 0;
        margin: 0;
    }
    .profile-header .dropdown-menu li {
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        color: #333;
    }
    .profile-header .dropdown-menu li span {
        font-size: 16px;
    }
    .profile-header .dropdown-menu li:hover {
        background-color: #dedede;
    }
    .profile-header .description {
        font-size: 16px;
    }
    .profile-header .see-more-btn {
        font-size: 15px;
        margin-left: 6px;
    }
    .profile-header .follow-btn,
    .profile-header .edit-btn {
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 4px;
    }
    .profile-header .more-mode {
        height: 70vh;
        width: 90vw;
    }
    .profile-header .more-mode .header {
        padding: 10px 16px;
        font-size: 24px;
    }
    .profile-header .more-mode .header button {
        font-size: 24px;
    }
    .profile-header .more-mode .content {
        padding: 10px 16px;
        gap: 16px;
    }
    .profile-header .more-mode .content > div {
        gap: 8px;
    }
    .profile-header .more-mode .content label {
        font-size: 20px;
    }
    .profile-header .more-mode .content .info {
        font-size: 16px;
        line-height: 16px;
    }
    .profile-header .more-mode .content .extra-info {
        font-size: 16px;
        gap: 8px;
    }
    .profile-header .more-mode .footer {
        padding: 10px 16px;
    }
    .profile-header .more-mode .footer .report-btn {
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 4px;
    }
}