.setting-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.setting-menu > button,
.mobile-setting-menu > button {
    width: 100%;
    padding: 0.7rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #4a86e8;
    cursor: pointer;
    margin-bottom: 0.7rem;
}

.setting-menu > button:hover,
.mobile-setting-menu > button:hover {
    background-color: #3b6dc3;
}

.setting-menu ul,
.mobile-setting-menu ul {
    list-style: none;
}

.setting-menu ul li,
.mobile-setting-menu ul li {
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    cursor: pointer;
}

.mobile-setting-menu ul li {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
}

.setting-menu ul li:hover,
.mobile-setting-menu ul li:hover {
    background-color: #e2e2e2
}

.setting-menu ul li.active,
.mobile-setting-menu ul li.active {
    background-color: rgba(74, 134, 232, 0.3);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mobile-setting-menu ul li {
        font-size: 18px;
        padding: 8px 12px;
        border-radius: 6px;
    }
}