.select-target {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    min-width: 500px;
    max-width: 600px;
    max-height: 700px;
    border-radius: 6px;
}

.select-target .select-header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
}

.select-target .select-body {
    flex: 1;
    padding: 0.7rem 1rem;
}

.select-target .select-body input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    font-size: 1.1rem;
    outline: none;
}
.select-target .select-body input:focus {
    border-color: #4a86e8;
}

.select-target .select-body .empty {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 50px;
}

.select-target .select-body .result-list {
    display: flex;
    flex-direction: column;
}

.select-target .select-body .result-list .user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 10px 16px;
    cursor: pointer;
}
.select-target .select-body .result-list .user-item:last-child {
    border-bottom: 1px solid #ccc;
}
.select-target .select-body .result-list .user-item:hover {
    background-color: #f5f5f5;
}
.select-target .select-body .result-list .user-item.selected {
    background: #d9eaff !important;
    border: 1px solid #4a86e8;
}

.select-target .select-body .result-list .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.select-target .select-body .result-list .profile {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.select-target .select-body .result-list .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.select-target .select-body .result-list .profile .icon {
    font-size: 1.3rem;
}

.select-target .select-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.select-target .select-footer > div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.select-target .select-footer button {
    font-size: 1.1rem;
    padding: 0.45rem 1rem;
    border: none;
    border-radius: 6px;
    background-color: #e0e0e0;
    cursor: pointer;
    color: black;
}

.select-target .select-footer button:hover {
    background-color: #d0d0d0;
}

@media (max-width: 768px) {
    .select-target {
        height: 90vh;
        width: 90vw;
        min-width: 300px;
    }
    .select-target .select-header {
        padding: 6px 12px;
    }
    .select-target .select-header h3 {
        font-size: 20px;
    }
    .select-target .select-body {
        padding: 8px 12px;
    }
    .select-target .select-body input {
        font-size: 14px;
        padding: 10px 8px;
        border-radius: 4px;
    }
    .select-target .select-body .empty {
        margin: 32px 0;
        font-size: 14px;
    }
    .select-target .select-body .result-list .user-item {
        padding: 8px 12px;
        gap: 8px;
    }
    .select-target .select-body .result-list .user-item p {
        font-size: 13px;
        white-space: wrap;
    }
    .select-target .select-body .result-list .user-info {
        font-size: 14px;
        gap: 4px;
    }
    .select-target .select-body .result-list .profile {
        width: 32px;
        height: 32px;
    }
    .select-target .select-body .result-list .profile .icon {
        font-size: 16px;
    }
    .select-target .select-footer {
        padding: 6px 12px;
    }
    .select-target .select-footer > div {
        gap: 8px;
    }
    .select-target .select-footer button {
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 3px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .select-target {
        height: 70vh;
        width: 90vw;
        min-width: 300px;
    }
    .select-target .select-header {
        padding: 10px 16px;
    }
    .select-target .select-header h3 {
        font-size: 24px;
    }
    .select-target .select-body input {
        font-size: 16px;
        padding: 12px 10px;
        border-radius: 4px;
    }
    .select-target .select-body .empty {
        margin: 40px 0;
        font-size: 18px;
    }
    .select-target .select-body .result-list .user-item {
        padding: 12px 16px;
        gap: 8px;
    }
    .select-target .select-body .result-list .user-info {
        font-size: 16px;
        gap: 8px;
    }
    .select-target .select-body .result-list .profile {
        width: 48px;
        height: 48px;
    }
    .select-target .select-body .result-list .profile .icon {
        font-size: 24px;
    }
    .select-target .select-footer {
        padding: 10px 16px;
    }
    .select-target .select-footer button {
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 4px;
    }
}