.login-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 5rem;
}

.login-container .logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #4a86e8;
}

.login-container h3 {
    text-align: center;
    font-size: 1.8rem;
    margin: 2.5rem 0 3.5rem;
}

.login-container .google-login-btn {
    font-size: 1rem;
    padding: 0.7rem 0;
    width: 20rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.login-container .google-login-btn:hover {
    background-color: #f5f5f5;
}