.mobile-reactionbtn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
  border-radius: 8px;
}

.mobile-reactionbtn-container > div {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.mobile-reactionbtn-container button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 50%;

  padding: 0.5rem 0.9rem;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;

  width: 45px;
  height: 45px;
}

.mobile-reactionbtn-container button.liked {
  color: #4a86e8;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-reactionbtn-container  {
    gap: 24px;
  }
  .mobile-reactionbtn-container > div {
    gap: 4px;
  }
  .mobile-reactionbtn-container button {
    font-size: 24px;
    width: 56px;
    height: 56px;
  }
}