.notify-dropdown {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 320px;
    position: relative;
}

.notify-dropdown .notify-empty {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 100px;
}

.notify-dropdown .notify-header {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0.7rem;
}

.notify-dropdown .notify-header h4 {
    font-size: 1.2rem;
}

.notify-dropdown .notify-list {
    list-style: none;
    overflow-y: auto;
    scrollbar-width: thin;
}

.notify-dropdown .notify-item {
    padding: 0.5rem 0.3rem 0.5rem 0.7rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.notify-dropdown .profile {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin-right: 0.5rem;
}

.notify-dropdown .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notify-dropdown .profile .icon {
    font-size: 1.1rem;
}

.notify-dropdown .notify-item:hover {
    background-color: #f5f5f5;
}

.notify-dropdown .notify-item div:nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.notify-dropdown .notify-item .notify-text {
    font-size: 0.9rem;
    white-space: space;
    line-height: 1.3;
}

.notify-dropdown .notify-item .notify-date {
    font-size: 0.85rem;
    line-height: 1.3;
    color: #555;
}

.notify-dropdown .notify-item .more-btn {
    background: none;
    border: none;
    font-size: 1rem;
    padding-top: 2px;
    cursor: pointer;
}

.notify-dropdown .delete-btn {
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #D32F2F;
  color: white;
  padding: 6px 10px;
  top: 5.5px;
  right: 7px;
  position: absolute;
  border-radius: 4px;
}

.notify-dropdown .delete-btn:hover {
  background-color: #B71C1C;
}

@media (max-width: 1024px) {
    .notify-dropdown .notify-header h4 {
        font-size: 20px;
    }
    .notify-dropdown .profile {
        width: 32px;
        height: 32px;
        margin-right: 6px;
    }
    .notify-dropdown .profile .icon {
        font-size: 16px;
    }
    .notify-dropdown .notify-item {
        padding: 6px 4px 6px 10px;
    }
    .notify-dropdown .notify-item .notify-text {
        font-size: 14px;
        line-height: 1.2;
    }
    .notify-dropdown .notify-item .notify-date {
        font-size: 12px;
        line-height: 1.2;
    }
    .notify-dropdown .notify-item .more-btn {
        font-size: 14px;
    }
    .notify-dropdown .delete-btn {
        font-size: 12px;
        padding: 6px 8px;
        border-radius: 3px;
        top: 7.5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .notify-dropdown .notify-header h4 {
        font-size: 24px;
    }
    .notify-dropdown .notify-item {
        padding: 10px 8px 10px 14px;
    }
    .notify-dropdown .profile {
        width: 38px;
        height: 38px;
        margin-right: 8px;
    }
    .notify-dropdown .profile .icon {
        font-size: 19px;
    }
    .notify-dropdown .notify-item .notify-text {
        font-size: 16px;
        line-height: 1.2;
    }
    .notify-dropdown .notify-item .notify-date {
        font-size: 14px;
        line-height: 1.1;
    }
    .notify-dropdown .notify-item .more-btn {
        font-size: 16px;
    }
    .notify-dropdown .delete-btn {
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 4px;
    }
}