.single-select-dropdown {
  position: relative;
}

.single-select-dropdown .dropdown-header {
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-select-dropdown .dropdown-header .arrow {
  color: #999;
}

.single-select-dropdown .dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 10;
  max-height: 250px;
  overflow-y: auto;
  padding: 4px 0;
  scrollbar-width: thin;
}

.single-select-dropdown .dropdown-item {
  padding: 0.5rem;
  cursor: pointer;
}

.single-select-dropdown .dropdown-item:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .single-select-dropdown .dropdown-item {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single-select-dropdown .dropdown-item {
    font-size: 15px;
  }
}