.community-container {
    padding-top: 70px;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
}

.community-container .community-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.community-container .community-header h1 {
    font-size: 2rem;
}

.community-container .topic {
    width: 16%;
    position: sticky;
    top: 70px; /* 상단 고정 */
    align-self: flex-start;
    padding: 1rem 0.8rem;
}

.community-container > div:last-child {
    flex: 1;
    padding: 1rem 0.8rem;
}

.community-container .community-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.community-container .category {
    font-size: 1.1rem;
    margin-top: 0.3rem;
    color: #666;
}

.community-container .category span {
    margin: 0 0.1rem;
}

.community-container .filter-bar {
    display: flex;
    gap: 0.4rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.7rem;
    margin-top: 1rem;
}

.community-container .filter-bar .dropdown-header {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    width: 120px;
    border-radius: 6px;
}

.community-container .filter-bar .arrow {
    font-size: 0.9rem;
}

.community-container .filter-bar .dropdown-list {
    max-height: 350px;
}

.community-container .filter-bar .dropdown-item {
    padding: 0.5rem;
}

/* ---------- 모바일 오버레이 ---------- */
.community-container .mobile-overlay {
    visibility: hidden;
}

.community-container .mobile-overlay.show {
    visibility: visible;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* ---------- 모바일 사이드바 슬라이드 ---------- */
.community-container .mobile-sidebar {
  position: fixed;
  top: 0;
  left: -210px; /* 초기 위치 (왼쪽 밖) */
  width: 210px;
  height: 100vh;
  padding: 12px;
  background: #fff;
  box-shadow: 2px 0 8px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.community-container .mobile-sidebar.open {
  left: 0;
}

@media (max-width: 1024px) {
    .community-container {
        padding: 56px 0 60px;
        overflow-y: auto;
    }
    .community-container > div:last-child {
        padding: 1rem;
        height: calc(100vh - 116px);
    }
    .community-container .community-header .bars {
        font-size: 20px;
        cursor: pointer;
    }
    .community-container .community-header h1 {
        font-size: 20px;
        line-height: 1;
    }
    .community-container .category {
        font-size: 14px;
        margin-top: 8px;
    }
    .community-container .filter-bar {
        margin-top: 8px;
        padding-bottom: 8px;
    }
    .community-container .filter-bar .dropdown-header {
        padding: 4px 6px;
        font-size: 12px;
        width: 85px;
        border-radius: 4px;
    }
    .community-container .filter-bar .arrow {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .community-container .community-header {
        gap: 12px;
    }
    .community-container .community-header .bars {
        font-size: 28px;
    }
    .community-container .community-header h1 {
        font-size: 28px;
        line-height: 28px;
    }
    .community-container .category {
        font-size: 18px;
        margin-top: 12px;
    }
    .community-container .filter-bar {
        margin-top: 12px;
        padding-bottom: 12px;
    }
    .community-container .filter-bar .dropdown-header {
        height: 36px;
        font-size: 16px;
        padding: 0 10px;
        width: 110px;
    }
    .community-container .filter-bar .arrow {
        font-size: 14px;
    }
}