.topic-container,
.mobile-topic-container {
    display: flex;
    flex-direction: column;
}

.topic-container > button,
.mobile-topic-container > button {
    width: 100%;
    padding: 0.7rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #4a86e8;
    cursor: pointer;
    margin-bottom: 0.7rem;
}

.mobile-topic-container > button {
    font-size: 16px;
    padding: 10px 0;
}

.topic-container > button:hover,
.mobile-topic-container > button:hover {
    background-color: #3b6dc3;
}

.topic-container ul,
.mobile-topic-container ul {
    list-style: none;
}

.topic-container ul li,
.mobile-topic-container ul li {
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    cursor: pointer;
}

.mobile-topic-container ul li {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
}

.topic-container ul li:hover,
.mobile-topic-container ul li:hover {
    background-color: #e2e2e2
}

.topic-container ul li.active,
.mobile-topic-container ul li.active {
    background-color: rgba(74, 134, 232, 0.3);
}