.diary-container {
    padding: 70px 0 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 75rem;
    background-color: #fff;
}

.diary-container .my-diary h2 {
    font-size: 1.8rem;
    line-height: 40px;
    margin-bottom: 1rem;
}

.diary-container .today-diary,
.diary-container .my-diary {
    padding: 1rem 0 2rem;
}

.diary-container .my-diary {
    border-bottom: 1px solid #ccc;
}

.diary-container .no-my-diary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid  #aac3e8;
  border-radius: 6px;
  background-color: #f8faff;
  padding: 1.6em 2.7rem;
}

.diary-container .no-my-diary p {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 500;
  color: #3a63a8;
}

.diary-container .no-my-diary strong {
  font-size: 1.2rem;
  color: #2d4f8a;
}

.diary-container .no-my-diary .write-btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.7rem 0.8rem;
    border-radius: 5px;
    background-color: #4a86e8;
    color: white;
    border: none;
    cursor: pointer;
}

.diary-container .no-my-diary .write-btn:hover {
    background-color: #3b6dc3;
}

.diary-container .today-diary h2 {
    font-size: 1.8rem;
    line-height: 40px;
}

.diary-container .today-diary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.diary-container .dropdown-header {
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    width: 100px;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
}

.diary-container .dropdown-header .arrow {
    font-size: 0.8rem;
}

@media (max-width: 1024px) {
    .diary-container {
        height: 100vh;
        padding: calc(1rem + 56px) 1rem calc(1rem + 60px);
        overflow-y: auto;
    }
    .diary-container .no-my-diary {
        padding: 12px 18px;
    }
    .diary-container .my-diary {
        padding-top: 0;
        padding-bottom: 18px;
    }
    .diary-container .my-diary h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 6px;
    }
    .diary-container .no-my-diary strong {
        font-size: 14px;
    }
    .diary-container .no-my-diary p {
        font-size: 12px;
        line-height: 1.5;
    }
    .diary-container .today-diary h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .diary-container .dropdown-header {
        height: 30px;
        font-size: 14px;
        border-radius: 4px;
        padding: 0 8px;
        width: 80px;
    }
    .diary-container .dropdown-header .arrow {
        font-size: 12px;
    }
    .diary-container .today-diary {
        padding: 14px 0 18px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .diary-container .no-my-diary {
        padding: 16px 24px;
    }
    .diary-container .no-my-diary strong {
        font-size: 16px;
    }
    .diary-container .no-my-diary p {
        font-size: 14px;
        line-height: 1.5;
    }
    .diary-container .my-diary {
        padding-bottom: 21px;
    }
    .diary-container .my-diary h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
    }
    .diary-container .today-diary h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .diary-container .dropdown-header {
        height: 36px;
        font-size: 16px;
        padding: 0 10px;
        width: 95px;
    }
    .diary-container .dropdown-header .arrow {
        font-size: 14px;
    }
    .diary-container .today-diary {
        padding: 18px 0 21px;
    }
}