.importroutine-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    overflow: hidden; /* 내부 스크롤만 보이게 */
}

/* header */
.importroutine-container .importroutine-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.8rem 1.2rem;
}

.importroutine-container h3 {
    font-size: 2rem;
}

.importroutine-container .close-icon {
    font-size: 2rem;
    cursor: pointer;
}

.importroutine-container .importroutine-list {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    height: 100%;
    overflow: hidden;
}

.importroutine-container .importroutine-item.selected {
    border: 1px solid #4a86e8;
}

.importroutine-container .importroutine-item {
    flex: 1;
    border: 1px solid #ccc;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.importroutine-container .importroutine-item:hover {
    background-color: #f6f6f6;
}

.importroutine-container .importroutine-item h4 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.importroutine-container .importroutine-list ul li {
    list-style: none;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin-bottom: 0.1rem;
    border: #ddd 1px solid;
    padding: 0.5rem 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    color: #333;
}

.importroutine-container .exercise-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  font-size: 0.85rem;
}

.importroutine-container .exercise-table th,
.importroutine-container .exercise-table td {
  border: 1px solid #e0e0e0;
  padding: 7px 8px;
  text-align: center;
}

.importroutine-container .exercise-table th {
  background-color: #d9d9d9;
  font-weight: 600;
  white-space: nowrap;
}

.importroutine-container .exercise-table td:first-child {
    white-space: pre-wrap;
}

.loading-text {
  text-align: center;
  color: #333;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 100px;
}

.importroutine-container .importroutine-footer {
    flex-shrink: 0;
    padding: 0.8rem 1.2rem;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 0.7rem;
    justify-content: flex-end;
}

.importroutine-container .importroutine-footer .select-btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #4a86e8;
    cursor: pointer;
    color: white;
}

.importroutine-container .importroutine-footer .select-btn:hover {
    background-color: #3b6dc3;
}

.importroutine-container .importroutine-footer .select-btn.disabled {
    background-color: #e0e0e0;
    color: #999;
}

.importroutine-container .importroutine-footer .select-btn.disabled:hover {
    background-color: #e0e0e0;
}
